{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Search Results</h1>
    <p>Access Type: Admin</p>
    <p></p>
    <p>Details for the Bridge Domain : {{ query }}</p>
    <p></p>
    <p></p>
    <table class="table">
        <tbody>
            <tr>
                <td>Related Subnets</td>
                <td>{{ rel_subs }}</td>
            </tr>
            {% if results %}
                {% for result in results %}
                    <tr>
                        <td>Tenant</td>
                        <td>{{ result[5] }}</td>
                    </tr>
                    <tr>
                        <td>VRF</td>
                        <td>{{ result[3] }}</td>
                    </tr>
                    <tr>
                        <td>Dn</td>
                        <td>{{ result[4] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">No Results</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
