{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Learned Endpoints</h2>
    <p>Access Type: Guest</p>
    <p></p>
    {% if e %}
    <p>{{ e }}</p>
    {% endif %}
    <table class="table"  id ="mytable" >
        <thead>
            <tr>
                <th>ID</th>
                <th>IP Endpoint</th>
                <th>MAC Address</th>
                <th>EPG</th>
                <th>Application Profile</th>
                <th>Bridge Domain</th>
                <th>Subnet</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td><a href="{{ url_for('get_dets_endpoint', query=item[1]) }}" class="custom-link" >{{ item[1] }}</a></td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p></p>
    <p></p>
</div>
{% endblock %}
