{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>EPGs Page</h2>
    <p id="Access">Access Type: Admin</p>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dn</th>
                <th>EPG Name</th>
                <th>Tenant</th>
                <th>Health Score</th>
                <th>Endpoint Count</th>
            </tr>
        </thead>
        <tbody>
            {% for item in epgs_data %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p></p>
    <p></p>
    <form method="POST">
        <button class="btn btn-green" type="submit" name="refresh" value="Refresh">Refresh</button>
    </form>
</div>
{% endblock %}
