{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome to ACI Catalog !</h1>
    <p id="Access">Access Type: Admin</p>
    <p>This is the homepage. You can navigate to the endpoints and other items using the links below.</p>
    <p></p>
    <p></p>
    <p></p>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('endpoints') }}">Endpoints</a></li>
        <li class="list-group-item"><a href="{{ url_for('subnets') }}">Subnets</a></li>
        <li class="list-group-item"><a href="{{ url_for('epgs') }}">EPGs</a></li>
        <li class="list-group-item"><a href="{{ url_for('tenants') }}">Tenants</a></li>
        <li class="list-group-item"><a href="{{ url_for('bridgedomains') }}">Bridge Domains </a></li>
        <li class="list-group-item"><a href="{{ url_for('interfaces') }}">Interfaces</a></li>
        <li class="list-group-item"><a href="{{ url_for('interfacestats') }}">Statistics</a></li>
    </ul>
    <p></p>
    <p></p>
    <p></p>
    <p class="homepagenote ">Note: Please be advised that certain data may not be accessible due to security measures or rules. </p>
</div>
{% endblock %}