{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome to Endpointer!</h1>
    <p id="Access">Access Type: Admin</p>
    <p>This is the homepage. You can navigate to the endpoints and subnets pages using the links below.</p>
    <p></p>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('endpoints') }}">Endpoints</a></li>
        <li class="list-group-item"><a href="{{ url_for('subnets') }}">Subnets</a></li>
    </ul>
</div>
{% endblock %}