{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>First Time Setup</h1>
    <form  method="post">
        <div class="mb-1">
        <label for="mysql_host" class="form-label">MySQL Host:</label>
        <input type="text" class="form-control id="mysql_host" name="mysql_host" required><br>
        </div>
        <div class="mb-1">
        <label for="mysql_username" class="form-label">MySQL Username:</label>
        <input type="text" class="form-control id="mysql_username" name="mysql_username" required><br>
        </div>
        <div class="mb-1">
        <label for="mysql_password" class="form-label">MySQL Password:</label>
        <input type="password" class="form-control id="mysql_password" name="mysql_password" required><br>
    </div>
        <div class="mb-1">
        <label for="apic_url" class="form-label">APIC URL:</label>
        <input type="text" class="form-control id="apic_url" name="apic_url" required><br>
    </div>
        <div class="mb-1">
        <label for="apic_username" class="form-label">APIC Username:</label>
        <input type="text" class="form-control id="apic_username" name="apic_username" required><br>
    </div>
        <div class="mb-1">
        <label for="apic_password" class="form-label">APIC Password:</label>
        <input type="password" class="form-control id="apic_password" name="apic_password" required><br>
    </div>
        <input class="btn btn-green" type="submit" value="Save">
    </form>
</div>
{% endblock %}