{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Subnets (Fabric)</h1>
    <p>Access Type: Guest</p>
    <p></p>
    {% if e %}
    <p>{{ e }}</p>
    {% endif %}
    <table class="table"  id ="mytable" >
        <thead>
            <tr>
                <th>ID</th>
                <th>IP Subnet</th>
                <th>Bridge Domain</th>
                <th>Tenant</th>
                <th>Scope</th>
            </tr>
        </thead>
        <tbody>
            {% for subnet in subnets %}
            <tr>
                <td>{{ subnet[0] }}</td>
                <td><a href="{{ url_for('get_dets_subnet', query=subnet[1]) }}" class="custom-link" >{{ subnet[1] }}</a></td>
                <td>{{ subnet[2] }}</td>
                <td>{{ subnet[3] }}</td>             
                <td>{{ subnet[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p></p>
    <p></p>
</div>
{% endblock %}
